/*
7 pictures
1 second steady (2.8%)
4 seconds transition (11.4%)

=> total duration 35 seconds
 */


#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

#cycler {
}

#cycler img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

#cycler img {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    3% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* later images stack on top of earlier ones, so they need to fade first */
#cycler img:nth-of-type(7) {
    animation-delay: 0s;
}

#cycler img:nth-of-type(6) {
    animation-delay: 5s;
}

#cycler img:nth-of-type(5) {
    animation-delay: 10s;
}

#cycler img:nth-of-type(4) {
    animation-delay: 15s;
}

#cycler img:nth-of-type(3) {
    animation-delay: 20s;
}

#cycler img:nth-of-type(2) {
    animation-delay: 25s;
}

#cycler img:nth-of-type(1) {
    animation-delay: 30s;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}